.about-container {
  margin: 6rem;
  text-align: start;
}

.about-item {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
  margin-bottom: 4rem;
}

.about-item:nth-child(2) {
  direction: rtl;
}
.about-item:nth-child(2) > div {
  text-align: left;
}

.about-item h1 {
  padding-bottom: 1rem;
  font-size: 2rem;
}

.about-item p {
  padding-bottom: 2rem;
  font-size: 14px;
}
.about-item img {
  border-radius: 50px;
  max-height: 350px;
  object-fit: cover;
}

@media screen and (max-width: 850px) {
  .about-container {
    margin: 4rem 2rem;
  }
}

@media screen and (max-width: 425px) {
  .about-container {
    margin: 2rem 1.2rem;
  }
  .about-container h1 {
    font-size: 24px;
  }
  .about-container p {
    font-size: 12px;
    text-align: left;
    line-height: 14px;
  }
}
