.about-container {
  margin: 6rem;
  text-align: start;
}

.about-item {
  display: flex;
  margin-bottom: 4rem;
  gap: 5%;
}

.about-item:nth-child(2) {
  flex-direction: row-reverse;
}

.about-item h1 {
  padding-bottom: 1rem;
  font-size: 2rem;
}

.about-item p {
  padding-bottom: 2rem;
}
.about-item img {
  border-radius: 50px;
}

@media screen and (max-width: 850px) {
  .about-container {
    margin: 4rem 2rem;
  }
}

@media screen and (max-width: 425px) {
  .about-container {
    margin: 2rem 1.2rem;
  }
  .about-container h1 {
    font-size: 24px;
  }
  .about-container p {
    font-size: 12px;
    text-align: left;
    line-height: 14px;
  }
}
