.service {
  margin: 4rem 6rem;
}

.service h1 {
  font-size: 3rem;
}

.first-service,
.first-service-reverse {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 4.5rem 0rem;
}
.first-service-reverse {
  flex-direction: row-reverse;
  margin-top: 10rem;
}

.service-text {
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
}

.service-text h2 {
  padding-bottom: 1rem;
}

.service-text button {
  margin-top: 1rem;
}

.images {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.images img {
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px, rgba(0, 0, 0, 0.2);
}

.images img:nth-child(2) {
  position: absolute;
  top: -10%;
  right: 0;
}

@media screen and (max-width: 850px) {
  .service {
    margin: 4rem 2rem;
  }
  .first-service {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }
  .first-service-reverse {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }
  .service-text {
    width: 100%;
  }
  .images {
    width: 100%;
    margin: 1.8rem 0;
  }
  .images img {
    height: 250px;
  }
}

@media screen and (max-width: 425px) {
  .service {
    margin: 2rem 1.2rem;
    text-align: center;
  }
  .service > h1 {
    font-size: 24px;
  }
  .first-service {
    margin-top: 1rem;
  }
  .service-text {
    text-align: left;
  }
  .service-text h2 {
    padding-bottom: 0.5rem;
    font-size: 20px;
  }

  .images {
    margin-bottom: 0px;
  }
  .images img {
    height: 150px;
  }
}
