.booking .sectionContainer {
  width: 90%;
  margin: auto;
  padding: 1.5rem;
  border: 2px solid var(--greyBg);
  border-radius: 16px;
  position: absolute;
  top: 65vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

.bookingInputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1.5rem;
}
.singleInput {
  width: 18%;
}

.bookingInputs .singleInput .iconDiv {
  padding: 16px 10px;
  border-radius: 3rem;
  background: var(--SecondaryColor);
  margin-right: 1rem;
}

.singleInput .iconDiv .icon {
  color: var(--blackColor);
  opacity: 0.7;
}

.singleInput .texts {
  width: 60%;
}
.singleInput .texts h4 {
  padding-top: 0;
  padding-bottom: 0.3rem;
  color: var(--blackColor);
  font-weight: 700;
}
.singleInput .texts input,
.singleInput .texts select {
  width: 95%;
  padding: 0px 5px;
  font-size: 14px;
  border: 2px solid rgb(200, 200, 200);
  outline: none;
  background: transparent;
}
.bookingInputs .singleInput .texts input::-moz-placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.bookingInputs .singleInput .texts input::placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.bookingInputs > .btn {
  display: block;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .booking .sectionContainer {
    margin-top: -20px;
  }

  .bookingInputs {
    gap: 1rem;
  }
  .bookingInputs .singleInput .texts h4 {
    padding-bottom: 0rem;
  }
}
