.gallery {
  padding: 3rem;
  overscroll-behavior-inline: contain;
  background-color: rgb(225, 239, 255);
  text-align: center;
}

.gallery > h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.gallery-track {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 44vmin;
  gap: 2rem;
  overflow: scroll;
  padding: 10px 0px;
  width: 100%;
}

.gallery-track::-webkit-scrollbar {
  width: 0px;
  height: 12px;
}

.gallery-track::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgb(162, 162, 230);
}
.gallery-track::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: white;
}

.gallery-track > .img-container:hover > img {
  -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
  scale: 1.05;
}
.gallery-track > .img-container > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .gallery {
    padding: 1rem;
  }

  .gallery > h1 {
    font-size: 28px;
  }

  .gallery-track {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    padding: 15px 0px;
  }
  .img-container > h3 {
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
  }
}
